.serviceForm {
   display: flex; flex-direction: column;
}

.button {
    background-color: #454da0;
    color: white;
    width: 20%;
    padding: .5rem;
    margin-top: 1.5rem;
}

.field {
    display: flex;
    flex-direction: column;
    margin: .2rem;
}

.request__delete {
    background-color: #a347db;
    color: white;
}

.request-items {
    background-color: #eae9e9;
    margin: .5rem;
    padding: .5rem;
    display: flex; justify-content: space-between;
}